.reveal section  figure img {
	border: none;
	box-shadow: none;
	display: block;
	margin: 0 auto;
	max-width: 500px;
	height: auto;
}
.slide__text,
.slide__item,
.slide__figcaption {
	font-size: 1.75rem !important;
}
.slide__sub {
	font-size: 1.25rem !important;
}