doctype
html
	include include/head.jade
	body.career-presentation
		.reveal
			.slides
				include include/slide/1.jade
				include include/slide/2.jade
				include include/slide/3.jade
				include include/slide/4.jade
				include include/slide/5.jade
				include include/slide/6.jade
				include include/slide/7.jade
				include include/slide/8.jade
		include include/script.jade

    
