section.slide
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/Dollar_shave_club_logo.png', title='Dollar Shave Club')
		p.slide__title Jeff Wainwright
		hr
		p.slide__text Front End Engineer @ Dollar Shave Club
	section.slide--sub
		p.slide__text What's a Front End Engineer?
	section.slide--sub
		sub.slide__sub Using data, Front End Engineer's render webpages & apps 
		figure.slide__figure
			img.slide__image(src='assets/content-awesomeness.png', title='content awesomeness')
	section.slide--sub
		sub.slide__text Today, we'll be discussing 2 things.
		ul.slide__list 
			li.slide__item The role of a front end engineer in a modern content team.
			li.slide__item The role of content in a modern world



