section.slide
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/w-blk-circle-60.png', title='Jeff Wainwright')
		header.slide__header
			h1.slide__site-title
				p.slide__title Jeff Wainwright
				hr
				p.slide__text Front End Engineer for <a href="https://www.dollarshaveclub.com/" target="_blank">Dollar Shave Club</a>
		p.slide__text (Use Dollar Shave Club products because they ARE GREAT!)
	section.slide--sub
		p.slide__text What's a Front End Engineer?
	section.slide--sub
		sub.slide__sub Using data, Front End Engineers render webpages & apps 
		figure.slide__figure
			img.slide__image(src='assets/content-awesomeness.png', title='content awesomeness')
	section.slide--sub
		sub.slide__text This presentation will briefly discuss 2 things:
		ul.slide__list 
			li.slide__item The role of a <a href="http://f2em.com/" target="_blank">front end engineer</a> in a modern content team.
			li.slide__item The role of content in a modern world.



