section.slide
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/Dollar_shave_club_logo.png', title='Dollar Shave Club')
		p.slide__title Jeff Wainwright
		hr
		p.slide__text Front End Engineer @ Dollar Shave Club
	section.slide--sub
		p.slide__text What's that?
	section.slide--sub
		sub.slide__sub Using data, I render webpages & apps (currently)
		figure.slide__figure
			img.slide__image(src='assets/content-awesomeness.png', title='content awesomeness')


