section.slide
	section.slide--sub
		p.slide__text How does this apply to media?
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/content-magic.png', title='Engineers work with content teams to help product captivating content')
			figcation Engineers work with content teams to help product captivating content

		