section.slide
	section.slide--sub
		h2.slide__title How does a Front End Developer's skill apply to media (2016)?
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/content-magic.png', title='Engineers work with content teams to help produce captivating content')
			figcation.slide__figcaption Engineers work with content teams to produce content.
	section.slide--sub
		p.slide__text The diagrams above illustrates the roles involved for content products (2016).  
	section.slide--sub
		ul.slide__list
			li.slide__item The Product Team is placed in the middle because they negotiate workflow & products for the teams.
	section.slide--sub
		ul.slide__list
			li.slide__item The User Experience Team works on what users do. They work with interactions, analytics &  information architecture.
			li.slide__item The Design Team develops brand identity & art direction.
	section.slide--sub
		ul.slide__list
			li.slide__item The Backend Development Team focuses on creating & rendering data.
			li.slide__item The Frontend Development renders the data.
	section.slide--sub
		ul.slide__list
			li.slide__item <em>Writers</em> create content.
			li.slide__item <a href="https://boagworld.com/dev/the-future-of-content-editors/" target="_blank">Content Editors</a> insert content.
	section.slide--sub
		ul.slide__list
			li.slide__item Not pictured: The Sales/ad & Analytics Team; ThE Sales Team negotiate revenue making deals. The Analytics Team records information.
		