section.slide
	section.slide--sub
		p.slide__title How does a Front End Developer's skill apply to media?
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/content-magic.png', title='Engineers work with content teams to help product captivating content')
			figcation Engineers work with content teams to help produce captivating content
	section.slide--sub
		p.slide__text The image above diagram's of most of the rolls involved in content products for 2016. 
	section.slide--sub
		ul.slide__list
			li.slide__item Product is placed in the middle because it negotiates workflow & new products for the different teams.
	section.slide--sub
		ul.slide__list
			li.slide__item User Experience  work on what a content's customer does from interactions to analytics. They are also important when negotiating a site's information architecture.
			li.slide__item Design develop's the site's identity & look as well as negotiate art direction with content editors & writers.
	section.slide--sub
		ul.slide__list
			li.slide__item Backend development focuses on the rendering data objects from the content editor input level
			li.slide__item Frontend development starts when the data is massaged from data objects to the rendering of a page.
	section.slide--sub
		ul.slide__list
			li.slide__item 'Writer' is a loose term as content can be imagery, video or word articles
			li.sldie__item Content Ediors deal with content insertion into the product.
	section.slide--sub
		ul.sldie__list
			li.slide__item Not pictured are sales/ad & core analytics people & both are important. Sales & ad people negotiate ad deals & affiliate content deals. Analytics people record & document the product. 
		