section.slide
	section.slide--sub
		h2.slide__title The Revenue Challenge
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/ad-rev.jpg', title='Ad Revenue')
			figcation 
				p Revenue has gone down in <em>most</em> areas like print & TV & it hasn't risen online.
				br
				<a href="http://www.niemanlab.org/2014/06/are-online-ads-more-valuable-than-print-ads/" target="_blank">Nieman Lab</a>
	section.slide--sub
		p.slide__text Front End Engineers are tasked with working with other teams to render captivating content & business oriented products.
	section.slide--sub
		p.slide__text Captivating content such as videos, collections, streams, galleries, quizzes & articles must be rendered in an exciting yet optimized manner.
	section.slide--sub
		p.slide__text Besides content, Front End engineers support testing, analytics, ads & affiliate goals.


