section.slide
	section.slide--sub
		p.slide__text The funny this is...
	section.slide--sub
		figure.slide__figure
			img.slide__image(src='assets/ad-rev.jpg', title='Ad Revenue')
			figcation Ad Revenue has gone down in most areas & it hasn't risen as much as media companies would like online

