section.slide
	section.slide--sub
		h2.slide__title Relevancy: content in a free era
	section.slide--sub
		p.slide__text Content is largely viewed as a free experience 
		br
		<iframe src="//giphy.com/embed/gZEBpuOkPuydi" width="100%" frameBorder="0" class="giphy-embed" allowFullScreen style="min-height: 324px; max-width: 480px;"></iframe>
		p
			a(href="https://giphy.com/gifs/animation-animated-free-gZEBpuOkPuydi", target="_blank") via GIPHY
	section.slide--sub
		ul.slide__list
			li.slide__item Customers expect great products for free exactly how they want it.
			li.slide__item Businesses require great content to drive customer awareness.
			li.slide__item Customers enjoy marketing but on an increasingly invisible level.
	section.slide--sub
		ul.slide__list
			li.slide__item Front End Engineers are tasked with creating the happy medium of great content products & business goals.
