section.slide
	section.slide--sub
		p.slide__title Relavancy, content in a free era
	section.slide--sub
		p.slide__text Content is largely viewed as a free experience 
	section.slide--sub
		ul.slide__list
			li.slide__item Customers expect great products for free how they want it.
			li.slide__item Business require great content to drive customer awareness.
			li.slide__item Customers enjoy marketing but on an increasingly invisible level.
	section.slide--sub
		ul.slide__list
			li.slide__item Front End Engineers are tasks with creating the happy medium or that great product & business goals.
