section.slide
	section.slide--sub
		h2.slide__title Relevancy: Content in a <em>free era</em>
	section.slide--sub
		p.slide__text Content is viewed as free
		br
		<iframe src="//giphy.com/embed/gZEBpuOkPuydi" width="100%" frameBorder="0" class="giphy-embed" allowFullScreen style="min-height: 324px; max-width: 480px;"></iframe>
		p
			a(href="https://giphy.com/gifs/animation-animated-free-gZEBpuOkPuydi", target="_blank") via GIPHY
	section.slide--sub
		ul.slide__list
			li.slide__item Customers expect great products for free.
			li.slide__item Customers will leave if they're confused.
			li.slide__item Great content to drives brand awareness.
			li.slide__item Customers enjoy marketing but on an increasingly invisible level.
	section.slide--sub
		ul.slide__list
			li.slide__item Front End Engineers create balance between content & business goals.
