section.slide
	section.slide--sub
		p.slide__title Why this is exciting
	section.slide--sub
		p.slide__text Content is more accessible & attainable than ever before
	section.slide--sub
		ul.slide__list
			li.slide__item Customers can consume, share & spin off good content easily.
			li.slide__item Content must be unique & well done to be relavant. 