section.slide
	section.slide--sub
		h2.slide__title Why this is exciting?
	section.slide--sub
		p.slide__text Content is more accessible & attainable than ever before
		br
		img.slide__image(src="https://schizoidlawi.files.wordpress.com/2014/05/all-the-things-meme-generator-share-all-the-things-5e9f2d.jpg", alt="Share all the things")
	section.slide--sub
		ul.slide__list
			li.slide__item Customers can consume, share & spin off good content easily.
			li.slide__item Content must be unique & well done to be relevant. 