section.slide
	section.slide--sub
		h2.slide__title What does this mean for the future?
	section.slide--sub
		h3.slide__title For front end engineers
		ul.slide__list
			li.slide__item Front End Engineers are currently in demand. It is fast-pasted industry. 
			li.slide__item You have to keep learning. 
			li.slide__item You have to opportunity to build things.
	section.slide--sub
		h3.slide__title For content teams
		ul.slide__list
			li.slide__item It is an exciting & innovative climate.
			li.slide__item Financial aspects of content are tumultuous.
			li.slide__item Content teams can extend their audience quickly if their content is well done.
