section.slide
	section.slide--sub
		h2.slide__title What does this mean for the future?
	section.slide--sub
		h3.slide__title For front end engineers
		ul.slide__list
			li.slide__item Front End Engineers are currently in demand, however it is an extremely fast-pasted industry. What was an innovation last year may have a very short shelf life at development's current pace.
			li.slide__item The role should be changing over the next years to no longer focus on visibility but most likely logical solutions with the information architecture. 
	section.slide--sub
		h3.slide__title For content teams
		ul.slide__list
			li.slide__item It is an exciting & innovative climate of constantly changing ways to deliver content.
			li.slide__item Most innovations don't involve a business price tag so businesses are expected to incorporate these tech innovations by users but don't get an obvious return on investment. 
			li.slide__item This makes the financial aspects of content tumultuous.
