section.slide
	section.slide--sub
		p.slide__text What does this mean for the future
	section.slide--sub
		p.slide__text For front end engineers
		ul.slide__list
			li.slide__item Front End engineers are currently in demand, however it is an extremely fast pasted industry. What I learned as innovation last year in a conference has a shelf life of about 1 year at it's current pace.
			li.slide__item With code camps & quick fix coding schools, the industry is staturated with junior engineers.
			li.slide__item The role should be changing over the next years to no longer focus on visibility but most likely logical solutions with the information architecture. 
	section.slide--sub
		p.slide__text For content teams
		ul.slide__list
			li.slide__item It is an exciting & innovative climate of constantly changing ways to deliver content.
			li.slide__iten Most innovations don't involve a business price tag so they're expected by users but don't offer an obvious return on investment. 
			li.slide__item This makes the financial aspects of content tumultous.
