section.slide
	h2.slide__title For a younger generation
	hr
	p.slide__text Younger generations are consuming products beyond they were often designed for. They're <em>hacking the system</em> so to speak. With apps like Snapchat & Messenger - the tech community is often surprised by the use of the product by younger generations. For those seeking a career in content: it will be innovative & most likely involve currently unthought-of ways to captivate audiences. 

	a(href="slides.pdf") Download the PDF

	p.slide__text Thank you!
	br
	a(href="mailto:jjwainwright2@gmail.com", target="_blank") Jeff Wainwright
	br
	a(href="http://github.com/yowainwright" target="_blank") Github