section.slide
	h2.slide__title Content creation or a younger generation
	hr
	p.slide__text Younger generations are using products beyond they were often designed for. For those seeking a career in content: it will be innovative & most likely involve currently unthought-of ways to captivate audiences. It is an exciting time for people in this industry to be innovative.
	br
	br
	p.slide__text Thank you!
	br
	p.slide__text
		a(href="mailto:jjwainwright2@gmail.com", target="_blank") Jeff Wainwright
	sub.slide__sub
		a(href="http://github.com/yowainwright" target="_blank") Github