section.slide
		p.slide__text For a younger generation
		hr
		p.slide__text Younger generations are consuming products beyond they way that they're but. They're hacking the system so to speak. With apps like Snapchat & Messager - the tech community is often surprised by the use of the product. For those seeking a career in content, it will be innovative & most likely involve currently unthought of ways to captivate an audience ... or we can just keep creatig memes. ~Thanks